@CHARSET "UTF-8";

/**
    IMPORT CUSTOME FONT
*/
@font-face {
    font-family: 'Roboto';
    src : url('../fonts/Roboto-Thin.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Roboto';
    src : url('../fonts/Roboto-Light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Roboto';
    src : url('../fonts/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'Roboto';
    src : url('../fonts/Roboto-Bold.ttf');
    font-weight: bold;
}

/**
    BASIC
*/
header {
    border-top: 3px solid #c71c2e;
}

body,
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

html, body {
    height: 100%;
}

.main-wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -105px;
    overflow: auto;
}

#push {
    height: 105px;
}

footer {
    min-height: 105px;
    max-height: 235px;
}

/** 
    TOPBAR - HEADER
*/

.topbar-header {
    border-bottom: 2px solid #e4e4e4;
    padding: 10px 0px;
}

.topbar-header ul.contact li {
    padding-right: 20px;
    line-height:34px;
}

.topbar-header ul.contact li span.glyphicon {
    margin-right: 5px;
}

.topbar-header .acv-language {
    display: inline-block;
}

/**
    NAVBAR - HEADER
*/
.topnav-header {
    background-color: #fff;
    /* border-radius: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px solid #ccc; */
    border: 0;
    margin-bottom:0px;
    font-size: 16px;
    padding-bottom: 15px;
}

a.logo {
    padding-top: 30px;
}

.topnav-header .navbar-nav > li > a {
    padding-top: 45px;
    padding-bottom: 30px;
    color: #111;
}

.topnav-header .navbar-nav > li > a:hover {
    background-color: #c71c2e;
    color: #fff;
    -webkit-box-shadow: 0 16px 5px -12px #bbb;
    -moz-box-shadow: 0 16px 5px -12px #bbb;
    box-shadow: 0 16px 5px -12px #bbb;
}

.topnav-header .navbar-nav > .active > a,
.topnav-header .navbar-nav > .active > a:hover,
.topnav-header .navbar-nav > .active > a:focus {
    background-color: #c71c2e;
    color: #fff;
    -webkit-box-shadow: 0 10px 10px -5px #777;
    -moz-box-shadow: 0 10px 10px -5px #777;
    box-shadow: 0 10px 10px -5px #777;
}


.topnav-header .navbar-nav .dropdown-menu {
    right: auto;
    margin-top: 15px;
    border-left: 5px solid #c71c2e;
    padding: 0px 10px;
}

.topnav-header .navbar-nav .dropdown-menu > li > a {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

.topnav-header .navbar-nav .dropdown-menu > li > a {
    padding: 10px;
}

.topnav-header .navbar-nav .dropdown-menu > li > a:hover {
    background-color: #c71c2e;
    color: #fff;
}

/**
    SLIDER - HEADER
*/


.slider > .carousel {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.slider .carousel .item {
    -webkit-box-shadow: inset 0 0 10px #000;;
    -moz-box-shadow: inset 0 0 10px #000;;
    box-shadow: inset 0 0 10px #000;;    
}

.slogan {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.slogan h2 {
    font-weight: bold;
}

.slogan p {
    font-weight: 300;
    font-size: 16px;
}


/**
    MAIN
*/
.main-block {
    margin-bottom: 50px;
}

.block-title {
    line-height: 40px;
    text-align: center;
    color: #686765;
    margin-bottom: 40px;
}

.block-title span {
    display: inline-block;
    position: relative;
}

.block-title span:before,
.block-title span:after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #bbb;
    bottom: 0;
    width: 100%; /*@todo: Can xem lai*/
}

.block-title span:before {
    right: 100%;
    margin-right: 10px;
}

.block-title span:after {
    left: 100%;
    margin-left: 10px;
}

/**
    SERVICE - MAIN
*/
.service {
    background-color: #E7EBEF;
    padding: 40px 30px;
}

.service article {
    text-align: center;
    margin-bottom: 40px;
}

.service article .intro {
    position: relative;
    overflow: hidden;
    margin: 0 4px 12px 0;
}

.service article .intro .description {
    position: absolute;
    padding: 7px 0;
    width: 100%;
    height: 100%;
    color: #fff;
    background: rgba(199, 28, 46, 0.7) url("../img/search.png") center no-repeat;

    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;

    bottom: -100%;
}

.service article:hover .description {
    bottom: 0;
}

/**
    LATEST - MAIN
*/
.latest-content {
    margin: 0 auto;
    /*     width: 1010px; */
    overflow: auto;
    padding-bottom: 20px;
}

.latest-content article {
    float: left;
    position: relative;
    overflow: hidden;
    padding: 0px 10px;
    margin: 0 4px 12px 0;
    max-height: 240px;
}

.latest-content article > a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.latest-content article.one {
    width: 356px;
}

.latest-content article.two {
    width: 716px;
}

.latest-content article .description {
    position: absolute;
    padding: 7px 0;
    width: 100%;
    height: 100%;
    color: #fff;
    -moz-transition: all .7s;
    -webkit-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;

    bottom: -70%;
}

.latest-content article.one .description {
    background: rgba(199, 28, 46, 0.7) url("../img/white-list@2x.png") 10px 10px no-repeat;
    background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
}

.latest-content article.two .description {
    background: rgba(250, 177, 54, 0.7) url("../img/white-list@2x.png") 10px 10px no-repeat;
    background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
}

.latest-content article:hover .description {
    bottom: 0;
}

article .description time {
    padding-left: 50px;
}

article .description h4 {
    padding-left: 50px;
    margin-top: 0px;
}
article .description p {
    padding: 15px;
}

article .description .read-more {
    display: block;
    float:left;
    margin-left: 10px;
}






/**
    POPULAR - MAIN
*/

/**
    CUSTOMER - MAIN
*/
.customers {
    background-color: #E7EBEE;
}

.customers-content {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.customers-content div[class*="col-md"] {
    margin-bottom: 40px;
    text-align: center;
}

.customers-content img {
    display: inline-block;
}


/**
    CONTACT - MAIN
*/
.contact-info ul {
    list-style: none;
    padding-left: 0;
}

.contact-info ul li {
    margin-bottom: 10px;
}

.contact-info ul li:first-child {
    margin-bottom: 30px;
}

.contact-info ul li p {
    display: block;
    padding-left: 40px;
}

.contact-info ul li span.glyphicon {
    display: block;
    font-size: 18px;
    float:left;
}

/**
    FOOTER
*/
footer {
    background-color: #363A3E;
    color: #ADAEB0;
}

.footer-content {
    padding: 10px 0 30px;
}

.footer-content div[class*= "col-md"] {
    padding-top: 25px;    
}

.footer-content .main-page li {
    display: inline-block;
}

.footer-content .main-page li a {
    color: inherit;
}

.footer-content .main-page li a:hover {
    background-color: transparent;
    color: #DCE1EC;
}

.footer-logo {
    padding-left: 15px;
    padding-top: 5px;
}

.footer-logo > a {
    display: inline-block;
    padding-top: 0;
}

.footer-logo > p {
    display: inline-block;
}

/* BEGIN BACK TOP*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    display: none;
}

#back-top a {
    width: 50px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    padding-top: 10px;
}

#back-top a:hover {
    color: #F5C26B;
}

/* arrow icon (span tag) */
#back-top span {
    width: 50px;
    height: 50px;
    display: block;
    background: rgb(199, 28, 46);
    padding-top: 8px;
    font-size: 25px;
    /* rounded corners */
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    /* transition */
    -webkit-transition: 1s;    
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover span {
    background: rgba(199, 28, 46, 0.5);
}
/*END BACK TOP*/


/**
    RESPONSIVE
*/
@media (max-width: 768px) {
    .navbar-toggle {
        margin-top: 25px;
    }

    .topnav-header .navbar-nav > li > a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #back-top {
        display: none !important;
    }
}

.img-center {margin: 0 auto;}

.title-news {
    border-bottom: 2px solid #D7D7D8;
    border-top: 2px solid #D7D7D8;
    line-height: 42px;
    margin-bottom: 20px;
}

.title-news a, .title-news {
    color: #666562;
}

.title-news a:hover {
     color: #C61D2E;
    text-decoration: none;
}

.title-news span {
    font-size: 1.7em;
    font-weight: bold;
}

.content-news {
    margin: 10px 0;
}

.entry {
	padding : 20px;
}
